.conteudo__sec{
  displçay: grid;
  grid-template-columns: repeat(3,1fr);
  colunm-gap: 1rem;

}

.conteudo__mod{
    background-color: #df9931;
    padding: 3rem;
    box-shadow:0 0 0 none;
    transition: box-shadow 0.5s ease-in-out;

}

.conteudo__mod:hover{
 box-shadow: 10px 10px 10px #ff0000;
     
}